{{ block style }}
    <link rel="stylesheet" type="text/css" href="{{ static 'survey/global_style.css' }}">
{{ endblock }}

{{ block title }}
    <h1>{% if en %}Main Study{% else %}Hauptstudie{% endif %}</h1>
{{ endblock }}

{{ block content }}
<div class="box">
    {% if en %}
        <h3 style="font-size: 16px;"><b>Your Role in the Experiment</b></h3>
        <p>
            In the main part of the experiment, you will take on the role of a <b>loan applicant</b> with hypothetical profile information.
            You will be presented with a series of <b>decision trees</b>, each illustrating a different bank’s loan approval process.
        </p>
        <p>
            Your profile will <b>remain constant</b> throughout the study, but the structure and content of the decision trees will vary.
            Please note that the decision trees may sometimes represent only <b>segments of larger decision-making processes</b>, not full trees.
        </p>

        <h3 style="font-size: 16px;"><b>Your Tasks:</b></h3>
        <ul>
            <li>Carefully analyze the decision tree and your profile information.</li>
            <li>Answer whether your loan would be approved or denied, based solely on the information in the presented decision tree.</li>
            <li>Indicate how confident you are in your answer.</li>
        </ul>

        <p>
            <b>Payment:</b> For each correct answer, you will earn an additional <b>€{{ C.payment_for_correct_answer|to2 }}</b> on top of your participation fee.
            Before starting the main study, you will complete <b>two practice questions</b> (not paid).
        </p>
        <p>
            <b>Note:</b> You are not expected to spend excessive time on each question or seek external help.
            The goal of this study is to understand how people naturally interpret decision trees.
        </p>

    {% else %}
        <h3 style="font-size: 16px;"><b>Ihre Rolle in der Studie</b></h3>
        <p>
            Im Hauptteil der Studie übernehmen Sie die Rolle <b>einer Person (Kundin, Kunde), die einen Kredit bei ihrer Bank beantragen will</b>.
            Sie sehen eine Reihe von <b>Entscheidungsbäumen</b>, die jeweils <b>eine mögliche Form der Entscheidung über Ihren Kredit durch eine Bank </b> abbilden.
        </p>
        <p>
            <b>Jede Bank benutzt persönliche Daten von Ihnen</b>, um darüber zu entscheiden, ob man Ihnen einen Kredit zugesteht oder diesen ablehnt.
            Diese persönlichen Daten sind für Sie die ganze Studie hinweg dieselben und werden Ihnen <b> rechts am Rand des Bildschirms </b> angezeigt.
        </p>
        <p>
            <b> Bitte beachten Sie: </b> Zwar bleiben Ihre persönlichen Daten immer dieselben, aber die Entscheidungsbäume, die jeweils die Entscheidung Ihrer Bank über die Vergabe des Kredits an Sie darstellen, ändern sich – so wie das auch im echten Leben von Bank zu Bank unterschiedlich ist, da diese unterschiedliche Künstliche Intelligenz benutzen um ihre Entscheidung zu treffen.
        </p>

        <h3 style="font-size: 16px;"><b>Ihre Aufgaben:</b></h3>
        <ul>
            <li>Analysieren Sie den Entscheidungsbaum und <b>Ihre persönlichen Daten</b> immer sorgfältig.</li>
            <li>Bitte geben Sie an, ob Sie aufgrund des <b> Entscheidungsbaum </b> erwarten würden, dass Ihr Kredit <b>genehmigt oder abgelehnt</b> würde. Bitte verlassen Sie sich dabei auf den dargestellten Entscheidungsbaum und behalten Sie Ihre persönlichen Daten im Auge. </li>
            <li>Schätzen Sie ein, wie sicher Sie sich sind, dass Ihre Antwort zur <b>   Genehmigung </b> oder <b>Ablehnung</b> des Kredits richtig ist. Benutzen Sie hierzu <b>die vorgegebene Skala von 0 bis 100</b>, die Sie einfach <b>mit Ihrer Maus anklicken</b> können. </li>
        </ul>

        <p>
            <b>Vergütung:</b> Für jede richtige Antwort erhalten Sie zusätzlich zu Ihrer Bezahlung für die Teilnahme an unserer Studie <b>{{ C.payment_for_correct_answer|to2 }} €</b>, die Ihnen nach der Studie ausbezahlt wird. Vor der Hauptstudie bearbeiten Sie <b>zwei Übungsfragen</b> (für diese erfolgt keine Bezahlung).

        </p>
    {% endif %}
</div>

<div class="btn-container">
    {{ next_button }}
</div>


{{ endblock }}
