{{ block style }}
    <link rel="stylesheet" type="text/css" href="{{ static 'survey/global_style.css' }}">
{{ endblock }}

{{ block title }}
    <h1>{% if en %}Main Study{% else %}Hauptstudie{% endif %}</h1>
{{ endblock }}

{{ block content }}
<div class="box">
    {% if en %}
        <p>
            You are now about to begin the <b>main part</b> of the study. In this section, you will evaluate a series of loan applications using various decision trees.
        </p>
        <p>
            <b>Incentive:</b> For every correct answer in this section, you will earn an additional <b>€{{ C.payment_for_correct_answer|to2 }}</b> on top of your base compensation.
        </p>
        <p>
            Click <b>"Next"</b> to begin the main study.
        </p>
    {% else %}
        <p>
            Jetzt beginnt der <b>Hauptteil</b> der Studie. In diesem Abschnitt beurteilen Sie mehrere Kreditanfragen mithilfe verschiedener Entscheidungsbäume.
        </p>
        <p>
            Für jede richtige Antwort erhalten Sie zusätzlich zu Ihrer Grundvergütung <b>€{{ C.payment_for_correct_answer|to2 }}</b>.
        </p>
        <p>
            Klicken Sie auf <b>"Weiter"</b>, um mit der Hauptstudie zu beginnen.
        </p>
    {% endif %}
</div>

<div class="btn-container">
    {{ next_button }}
</div>


{{ endblock }}
