{{ block style }}
    <link rel="stylesheet" type="text/css" href="{{ static 'survey/global_style.css' }}">
{{ endblock }}


{{ block title }}
    <h1>{% if en %}Survey{% else %}Umfrage{% endif %}</h1>
{{ endblock }}

{{ block content }}

<div class="container-flex">
    <!-- Welcome Message -->
    <div class="box">
        <p>
        {% if en %}
            Thank you for completing the main part of the study. Please answer the following final questions. Your responses are <b>fully anonymized,</b> so we kindly ask you to respond <b>honestly</b>. If you experienced any problems or would like to leave feedback, there is space provided below.
        {% else %}
            Vielen Dank, dass Sie den Hauptteil der Studie abgeschlossen haben. Bitte beantworten Sie die folgenden abschließenden Fragen. Ihre Angaben sind <b>vollständig anonymisiert,</b> daher bitten wir Sie, <b>ehrlich</b> zu antworten. Falls Sie auf Probleme gestoßen sind oder Feedback geben möchten, steht Ihnen unten ein entsprechendes Feld zur Verfügung.
        {% endif %}
        </p>
    </div>


    <!-- Form Fields in a Single Box -->
    <div class="box">
        <p>{{ formfields}}

    </div>
</div>

<div class="btn-container">
    {{ next_button }}
</div>

{{ endblock }}
