{{ block style }}
    <link rel="stylesheet" type="text/css" href="{{ static 'survey/global_style.css' }}">
{{ endblock }}


{{ block title }}
    <h1>{% if en %}Survey{% else %}Umfrage{% endif %}</h1>
{{ endblock }}

{{ block content }}

<div class="container-flex">
    <!-- Welcome Message -->
    <div class="box">
        <p>
        {% if en %}
            Thank you for completing the main part of the study. Please complete this final questionnaire.
            If you encountered any issues during the experiment, you may provide feedback in the designated section.
        {% else %}
            Vielen Dank, dass Sie den Hauptteil der Studie abgeschlossen haben. Bitte füllen Sie nun den abschließenden Fragebogen aus.
            Falls Sie während des Experiments auf Probleme gestoßen sind, können Sie diese im entsprechenden Abschnitt mitteilen.
        {% endif %}
        </p>
    </div>

    <!-- Form Fields in a Single Box -->
    <div class="box">
        <p>{{ formfield 'gender' }}</p>
        <p>{{ formfield 'age' }}</p>
        <p>{{ formfield 'education_level' }}</p>
        <p>{{ formfield 'education_level_other' }}</p>
        <p>{{ formfield 'bundesland' }}</p>
        <p>{{ formfield 'serious_participation' }}</p>
        <p>{{ formfield 'feedback' }}</p>
    </div>
</div>

<div class="btn-container">
    {{ next_button }}
</div>

{{ endblock }}
